script
  function saveActivity(){
    $.post("/activity", { activity: document.getElementById('activity').value } );
    document.getElementById('activity').value = "";
    $("#grid").data("kendoGrid").dataSource.read(); 
    return false;
  }
  function setTags(){
    tags = $.get("/tags", function(tags){
      console.log("tagobj:"+JSON.stringify(tags))
        taglist = ""
        for(tag in tags){
          if(tags[tag]!=null){
            sanitizedTag = tags[tag].substring(1);
            taglist += "<a href='reports/tags/"+sanitizedTag+"'>"+sanitizedTag+"</a> "
          }
        }
      document.getElementById('tagList').innerHTML=taglist;
    });
  }

script
  $(function(){
    var selectedActivity;
    
    var activityModel = kendo.data.Model.define({
      id: "_id",
      fields: {
        _id : {type:"string", editable:false},
        date: {type:"string"},
        activity : {type:"string"},
        tags: {stype:"string"},
        hours : {type:"number"}
      }
    });

    dataSource = new kendo.data.DataSource({
      transport: {
        read: {
          url: '/activity',
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            dataType: 'json'
        },
        destroy: {
          url: '/activity',
          type: 'DELETE',
          dataType: 'json'
        },
        update: {
          url: '/activity',
          type: 'PUT',
          dataType: 'json'
        },
      },
      schema:{
        model: activityModel
      },
      pageSize: 10
    });

    $("#grid").kendoGrid({
      dataSource: dataSource,
      sortable: true,
      selectable: true,
      pageable: true,
      rowTemplate: kendo.template($("#rowTemplate").html()),
      altRowTemplate: kendo.template($("#altRowTemplate").html()),
      columns: [
        {field:"date", title:"date"},
        {field:"activity", title:"activity"},
        {field:"hours", title:"hours"},
        {field:"tags", title:"tags"}
      ],
      change: function(){
        selectedId = this.select()[0].id
        selectedActivity = this.dataSource.get(selectedId);
      },
      editable: true
    });

    $("#delete").click(function(){
      dataSource.remove(selectedActivity);
      dataSource.sync();
    });

    $("#save").click(function(){
      dataSource.sync();
      console.log("Attempting to synchronize");
    });

   
    setTags(dataSource);

  });

script(src="/javascripts/kendo.all.min.js")
h1 Add activity
form(onsubmit="return saveActivity();")
  label
    |What did you work on?:
    input#activity(size=42)
h1 Log
table#grid
  tbody
    tr
      td(colspan=4)
script#rowTemplate(type="text/x-kendo-tmpl")
  tr(id="${_id}", data-id="${_id}")
    td ${date}
    td ${activity}
    td ${hours}
    td ${tags}
script#altRowTemplate(type="text/x-kendo-tmpl")
  tr(class="k-alt", id="${_id}", data-id="${_id}")
    td ${date}
    td ${activity}
    td ${hours}
    td ${tags}
button#delete remove
button#save save changes
h1 tags
div#tagList
