script
  function saveActivity(){
    $.post("/activity", { activity: document.getElementById('activity').value } );
    document.getElementById('activity').value = "";
    $("#grid").data("kendoGrid").dataSource.read(); 
    return false;
  }
  function removeActivity(docid){
    $.post("/activity", { _method: 'delete', activity: docid});
    $("#grid").data("kendoGrid").refresh();
    $("#grid").data("kendoGrid").dataSource.read(); 
    $("#grid").data("kendoGrid").refresh();
  }

  function readyGrid(){
    $("#grid").kendoGrid({
      columns: [
        {field:"date", title:"date"},
        {field:"activity", title:"activity"},
        {field:"hours", title:"time spent (h)"},
        {field:"_id", title:"operation"}
      ],
      dataSource: {
        transport: {
          read: {
            url: '/activity',
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            cache: false,
            dataType: 'json'
          }
        }
      },
      rowTemplate: kendo.template($("#rowTemplate").html()),
      altRowTemplate: kendo.template($("#altRowTemplate").html()),
      sortable: true
    });

  }

  $(document).ready(function(){
    readyGrid();
  });

script(src="/javascripts/kendo.all.min.js")
h1 Add activity
form(onsubmit="return saveActivity();")
  label
    |What did you work on?:
    input#activity(size=42)
h1 Log
table#grid
  tbody
    tr
      td(colspan=3)
script#rowTemplate(type="text/x-kendo-tmpl")
  tr
    td ${date}
    td ${activity}
    td ${hours}
    td
      button(onclick="removeActivity(\"${_id}\");") remove
script#altRowTemplate(type="text/x-kendo-tmpl")
  tr(class="k-alt")
    td ${date}
    td ${activity}
    td ${hours}
    td
      button(onclick="removeActivity(\"${_id}\");") remove
